{deps, [
  {stockdb,            ".*",    {git, "git://github.com/maxlapshin/stockdb.git", "HEAD"}},
  {fix,                ".*",    {git, "git://github.com/maxlapshin/fix.git", "HEAD"}},
  {nitrogen_core,      "2.1.*", {git, "git://github.com/nitrogen/nitrogen_core.git", "9989f1ae"}},
  {nprocreg,           "0.2.*", {git, "git://github.com/nitrogen/nprocreg.git", "845fa01b"}},
  {simple_bridge,      "1.2.*", {git, "git://github.com/nitrogen/simple_bridge.git", "9fc75137"}},
  {cowboy,             "0.6.*", {git, "git://github.com/extend/cowboy.git", {tag, "0.6.1"}}},
  {graphic,            ".*",    {git, "git://github.com/maxlapshin/graphic.git", "HEAD"}}
]}.
