<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Demo</title>
  <script src='/nitrogen/jquery.js' type='text/javascript' charset='utf-8'></script>
  <script src='/nitrogen/jquery-ui.js' type='text/javascript' charset='utf-8'></script>
  <script src='/nitrogen/livevalidation.js' type='text/javascript' charset='utf-8'></script>
  <script src='/nitrogen/nitrogen.js' type='text/javascript' charset='utf-8'></script>
  <script src='/nitrogen/bert.js' type='text/javascript' charset='utf-8'></script>

	<script src="http://code.highcharts.com/stock/highstock.js"></script>	

	<script src="js/graphic.js"></script>	
</head>
<body>
  [[[page:body()]]]

  <script> [[[script]]] </script>
</body>
